@mixin breakPoint($breakPointValue: 600px) {
    @media only screen and (max-width: $breakPointValue) {

        @content;
    }
}
@mixin miniSectionDefault(){
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    @content;
}