
.scrollUpButton {
    display: flex;
    position: fixed;
    bottom: 45px;
    right: 40px;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: $primary-blue;
    transition: .3s;
    border: none;
    z-index: 9999;



    i {
        color: white;
    }

    &:hover {
        background-color: $primary-orange;
        transform: translateY(-5px);
    }
}
@include breakPoint(996px){
    .scrollUpButton{
        bottom: 25px;
        right: 20px;
    }
}
//contact header start
header.helloContact {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 0px 5%;
    background-color: white !important ;
    position: sticky;
    z-index: 3;
    top: 0;
    transition: .3s;
    box-shadow: 0px 20px 30px -40px gray;



    .navLogo {
        height: 100%;
        width: 10%;
        display: inherit;
        align-items: center;

        img {
            height: 35%;
        }
    }

    nav {
        display: inherit;
        align-items: center;
        width: 30%;
        height: 100%;


        .navList {
            display: inherit;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            margin-left: 21%;

            li.home {
                position: relative;

                ul {
                    transform: translateY(-20px);
                    opacity: 0;
                    transition: .5s;
                    height: 0;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -100px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    li {
                        a {

                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }

                }

                &:hover {
                    ul {
                        height: 100px;
                        opacity: 100%;
                        transform: translateY(0px);
                    }
                }
            }

            li.Pages {
                position: relative;

                ul {
                    transform: translateY(-120px);
                    opacity: 0;
                    transition: 0.5s;
                    height: 0px;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -350px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    li {
                        a {

                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }


                }

                &:hover {
                    ul {
                        height: 350px;
                        opacity: 100;
                        transform: translateY(0px);
                    }
                }
            }

            li.Blog {
                position: relative;

                ul {
                    transform: translateY(-20px);
                    opacity: 0;
                    transition: 0.5s;
                    height: 0;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -100px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    li {
                        a {

                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }

                }

                &:hover {
                    ul {
                        height: 100px;
                        opacity: 100;
                        transform: translateY(0px);
                    }
                }
            }

            li {
                height: 100%;
                display: inherit;
                align-items: center;
                white-space: nowrap;
                margin: 0px 10px 0px 10px;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                    transition: .3s color;

                }

                &:hover {
                    a {
                        color: $primary-blue;
                    }
                }
            }
        }
    }

    .loginFormButtons {
        display: flex;
        width: 20%;
        justify-content: space-around;
        align-items: center;

        a {
            margin: 0px 5px 0px 5px;
        }

        .signInButton {
            text-decoration: none;
            color: black;
            transition: .3s color;
            white-space: nowrap;

            &:hover {

                text-decoration: underline;
            }
        }

        .signUpButton {
            text-decoration: none;
            color: white;
            transition: .3s background-color,
                .3s color;
            font-weight: 500;
            background-color: $primary-blue;
            height: 45px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            white-space: nowrap;

            &:hover {
                color: white;
                background-color: $primary-orange;
            }

        }

    }

    .burgerMenu {
        display: none;
        position: relative;

        i {
            font-size: 50px;
            transition: .3s;
            color: $primary-blue;

            &:hover {
                color: $primary-orange;
            }
        }



    }

    ul.navListBurger {
        position: absolute;
        top: 100px;
        width: 90%;
        padding: 0;

        div.accordion {
            box-shadow: 0px 0px 20px -5px gray;
            border-radius: 20px;

            div.nonCollapsBurgerNav {
                height: 52px;
                display: flex;
                align-items: center;

                h6 {
                    padding: 19px;

                    a {
                        transition: .3s color;

                        &:hover {
                            color: $primary-blue;
                        }

                        text-decoration: none;
                        color: black;
                    }
                }
            }

            .accordion-button:not(.collapsed) {
                background-color: white;
            }

            div.accordion-item:first-of-type .accordion-button {

                border-top-left-radius: 20px !important;
                border-top-right-radius: 20px !important;
            }

            div.accordion-item:last-of-type .accordion-button {

                border-bottom-left-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
            }

            div.accordion-item:last-of-type {
                border-bottom-left-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
            }

            div.accordion-item.nonCollapsBurgerNav {
                border-radius: 0px !important;
            }

            div.accordion-item {
                border-top-left-radius: 20px !important;
                border-top-right-radius: 20px !important;

                border: none;

                h2.accordion-header {
                    button {
                        font-weight: 500;
                        transition: .3s color;

                        &:hover {
                            color: $primary-blue;

                        }
                    }
                }

                div.accordion-body {

                    ul {
                        list-style: none;

                        li {
                            a {
                                transition: .3s color;
                                text-decoration: none;
                                color: gray;

                                &:hover {

                                    color: $primary-blue;

                                }

                            }
                        }
                    }
                }


            }

        }
    }

}
//contact header end

//header BreakPoint Responsive start
@include breakPoint(996px) {
    .bubbles {
        display: none;
    }

    header.helloContact {
        nav {
            display: none;
        }

        .loginFormButtons {
            display: none;
        }

        .burgerMenu {
            display: block;
        }

    }


}

//header BreakPoint Responsive end


//contact main start
main.contact{
    //gradien start
    .sectionHeaderGradinent{
        display: flex;
        width: 100%;
        height: 150px;
        background: linear-gradient(-45deg,#fd723b,#3f8dec);
        padding: 0px 100px 0px 100px;
        align-items: center;
        justify-content: space-between;
        h3{
            color: white;
            font-size: 20px;
            font-weight: 600;

        }
        .pagination{
            h6{
                color: white;
            font-size: 14px;
            font-weight: 500;


            }
        }

    }

    //gradient end

    //gradient responsive start

    @include breakPoint(996px){
        .sectionHeaderGradinent{
            flex-direction: column;
            justify-content: space-evenly;
            padding: 40px 0px 40px 0;
        }

    }
    //gradient responsive end

    //contact form start
    .contactForm{
        display: flex;
        height: 130vh;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 100px;
        background-color: #f4f7fa;
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50%;
            padding: 20px 40px 20px 40px;
            height: 95%;
            border-radius: 20px;
            box-shadow: 0px 0px 45px -22px gray;
            background-color: white;
            .inputs{
                display: flex;
                flex-direction: column;
                label{
                    color: gray;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 10px ;
                }
                input{
                    width: 100%;
                    height: 60px;
                    border-radius: 10px;
                    border-color: rgb(226, 226, 226);
                    border-style: solid;
                    border-width: 1px;
                    padding-left: 20px;
                    transition: .3s;

                    &:focus-visible {
                        border-width: 1px !important;
                        border-color: $primary-blue !important;

                    }

                    &:focus {
                        border: none;
                        border-color: $primary-blue;

                    }

                    &:hover {
                        border-color: $primary-blue;
                    }
                }
                textarea{
                    width: 100%;
                    border-radius: 10px;
                    border-color: rgb(226, 226, 226);
                    border-style: solid;
                    border-width: 1px;
                    padding: 20px;
                    transition: .3s;
                    resize: none;

                    &:focus-visible {
                        border-width: 1px !important;
                        border-color: $primary-blue !important;

                    }

                    &:focus {
                        border: none;
                        border-color: $primary-blue;

                    }

                    &:hover {
                        border-color: $primary-blue;
                    }
                }
            }
            button{
                width: 100%;
                height: 60px;
                border-radius: 10px;
                background-color: $primary-blue;
                border: none;
                color: white;
                transition: .3s;
                &:hover{
                    background-color: $primary-orange;
                    box-shadow: 0px 0px 20px -5px $primary-orange;
                    transform: scale(1.01);
                }
            }
        }
        .contactDesc{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px 0px 0px 0px;
            
            .contactDescTop{
                height: 20%;
                display: inherit;
                flex-direction: column;
                justify-content: space-between;
                h2{
                    font-weight: 700;
                    font-size: 30px;
                    width: 70%;
                }
                p{
                    color: gray;
                    font-size: 15px;
                }
            }
            .contactDescBottom{
                height: 45%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 40px;
                ul.contactList{
                    list-style: none;
                    padding: 0;
                    display: inherit;
                    flex-direction: column;
                    height: 30%;
                margin-top: 20px;

                    justify-content: space-around;
                    h5{
                        font-weight: 600;
                    }
                    li{
                        color: gray;
                    }
                }
            }
        }

    }
    //contact form end

    //contact form responsive start
    @include breakPoint(996px){
        .contactForm{
            flex-direction: column;
            padding: 30px 10px 30px 10px ;
            height: 200vh;
            justify-content: space-evenly;
            form{
                width: 100%;
                height: 50%;
                padding: 30px;
                button{
                    margin-top: 20px;

                }
                .inputs{
                    label{
                        margin: 10px 0px 5px 0px;
                    }
                }

            }
            .contactDesc{
                width: 100%;
                height: 50%;
                justify-content: flex-start;
                margin-top: 40px;
                .contactDescTop{
                    height: 30%;

                }
                .contactDescBottom{
                    height: 60%;

                }
            }

        }

    }

    //contact form responsive end


}
//contact main end









//footer start 
footer.contactFooter {
    display: flex;
    width: 100%;
    height: 45vh;
    justify-content: space-between;
    padding: 100px 100px 0px 100px;
    

    .footerInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 25%;
        height: 70%;

        img.logo {
            height: 35px;

        }

        p.footerDesc {
            color: gray;
            font-size: 15px;
        }

        p.copyRight {
            color: gray;
            font-size: 15px;

            a {
                color: $primary-blue;
                text-decoration: none;
                transition: .3s;

                &:hover {

                    color: $primary-orange;
                }
            }
        }

    }

    .footerLists {
        height: 100%;

        ul {
            height: 65%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h5 {
                font-size: 18px;
                font-weight: 600;
            }

            div {
                display: flex;
                flex-direction: column;
                height: 80%;
                justify-content: space-evenly;

                li {
                    color: gray;
                    font-size: 15px;
                    font-family: 'roboto';
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        color: $primary-blue;
                    }
                }
            }
        }
    }

    .subscribe {
        width: 30%;
        height: 65%;

        form {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 5px;
            height: 80%;
            justify-content: space-between;
            width: 80%;

            .subscribeDescs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;

                h5 {
                    font-size: 18px;
                    font-weight: 600;

                }

                p {
                    color: gray;
                    font-size: 14px;
                    white-space: nowrap;
                }
            }

            label {
                position: relative;

                input {
                    width: 100%;
                    height: 60px;
                    border-radius: 10px;
                    border-color: rgb(226, 226, 226);
                    border-style: solid;
                    border-width: 1px;
                    padding-left: 20px;
                    transition: .3s;

                    &:focus-visible {
                        border-width: 1px !important;
                        border-color: $primary-blue !important;

                    }

                    &:focus {
                        border: none;
                        border-color: $primary-blue;

                    }

                    &:hover {
                        border-color: $primary-blue;
                    }
                }

                button {
                    position: absolute;
                    background-color: $primary-blue;
                    color: white;
                    height: 50px;
                    width: 50px;
                    right: 5px;
                    top: 5px;

                    &:hover {
                        background-color: $primary-orange;
                        color: white;
                        border-color: $primary-orange;
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }

        }
    }
}

//footer end

//footer responsive start
@include breakPoint(996px) {
    footer.contactFooter {
        flex-direction: column;
        padding: 50px 20px 0px 20px;
        align-items: center;
        height: 120vh;


        .footerInfo {
            width: 100%;
            align-items: center;

            p.footerDesc {
                text-align: center;
            }

            p.copyRight {
                text-align: center;
            }
        }

        .footerLists {
            height: 100%;

            ul {
                height: 75%;

                h5 {
                    text-align: center;
                    font-size: 19px;
                    margin-bottom: 30px;
                }

                padding: 0;

                div {
                    align-items: center;

                    li {
                        font-size: 18px;
                    }

                    height: 100%;
                    justify-content: space-between;
                }


            }
        }

        .subscribe {
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;

            form {
                align-items: center;
                width: 100%;

                .subscribeDescs {
                    align-items: center;
                    width: 100%;

                    h5 {
                        text-align: center;
                    }

                    p.subscribeDesc {
                        white-space: normal;
                        text-align: center;
                        width: 100%;

                    }

                }
                label{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
}

//footer responsive end