.bubbles {
    position: absolute;
    height: 90vh;
    .orangeBubble {
        background-color: $primary-orange;
        height: 350px;
        width: 350px;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
    .blueBubble {
        width: 1000px;
        height: 1000px;
        background-color: $primary-blue;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        overflow-x: hidden;
        transform: translate(80%, -10%);
    }
    .pinkBubble {
        background-color: $primary-pink;
        border-radius: 50%;
        position: absolute;
        z-index: -2;
    }
    .pinkBubble.pink1 {
        height: 110px;
        width: 110px;
        top: 170px;
        left: 600px;
    }
    .pinkBubble.mini1 {
        height: 50px;
        width: 50px;
        top: 370px;
        left: 40px;
    }
    .pinkBubble.pink2 {
        height: 150px;
        width: 150px;
        bottom: -220px;
        left: 700px;
        z-index: 2;
    }
}
.scrollUpButton {
    display: flex;
    position: fixed;
    bottom: 45px;
    right: 40px;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    background-color: $primary-blue;
    transition: .3s;
    border: none;
    z-index: 9999;
    i {
        color: white;
    }
    &:hover {
        background-color: $primary-orange;
        transform: translateY(-5px);
    }
}
@include breakPoint(996px){
    .scrollUpButton{
        bottom: 25px;
        right: 20px;
    }
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 0px 5%;
    background-color: transparent;
    position: sticky;
    z-index: 3;
    top: 0;
    transition: .3s;
    .navLogo {
        height: 100%;
        width: 10%;
        display: inherit;
        align-items: center;
        img {
            height: 35%;
        }
    }
    nav {
        display: inherit;
        align-items: center;
        width: 30%;
        height: 100%;
        .navList {
            display: inherit;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            margin-left: 21%;
            li.home {
                position: relative;
                ul {
                    transform: translateY(-20px);
                    opacity: 0;
                    transition: .5s;
                    height: 0;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -100px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    li {
                        a {
                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;
                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        height: 100px;
                        opacity: 100%;
                        transform: translateY(0px);
                    }
                }
            }
            li.Pages {
                position: relative;
                ul {
                    transform: translateY(-120px);
                    opacity: 0;
                    transition: 0.5s;
                    height: 0px;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -350px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    li {
                        a {
                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        height: 350px;
                        opacity: 100;
                        transform: translateY(0px);
                    }
                }
            }
            li.Blog {
                position: relative;
                ul {
                    transform: translateY(-20px);
                    opacity: 0;
                    transition: 0.5s;
                    height: 0;
                    width: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 15px -10px gray;
                    border-radius: 5px;
                    position: absolute;
                    bottom: -100px;
                    left: -40px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    li {
                        a {

                            color: gray;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;

                            &:hover {
                                color: $primary-blue;
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        height: 100px;
                        opacity: 100;
                        transform: translateY(0px);
                    }
                }
            }
            li {
                height: 100%;
                display: inherit;
                align-items: center;
                white-space: nowrap;
                margin: 0px 10px 0px 10px;

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                    transition: .3s color;

                }

                &:hover {
                    a {
                        color: $primary-blue;
                    }
                }
            }
        }
    }

    .loginFormButtons {
        display: flex;
        width: 20%;
        justify-content: space-around;
        align-items: center;

        a {
            margin: 0px 5px 0px 5px;
        }

        .signInButton {
            text-decoration: none;
            color: white;
            transition: .3s color;
            white-space: nowrap;

            &:hover {

                text-decoration: underline;
            }
        }

        .signUpButton {
            text-decoration: none;
            color: black;
            transition: .3s background-color,
                .3s color;
            font-weight: 500;
            background-color: white;
            height: 45px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            white-space: nowrap;

            &:hover {
                color: white;
                background-color: $primary-orange;
            }

        }

    }

    .burgerMenu {
        display: none;
        position: relative;

        i {
            font-size: 50px;
            transition: .3s;
            color: $primary-blue;

            &:hover {
                color: $primary-orange;
            }
        }



    }

    ul.navListBurger {
        position: absolute;
        top: 100px;
        width: 90%;
        padding: 0;

        div.accordion {
            box-shadow: 0px 0px 20px -5px gray;
            border-radius: 20px;

            div.nonCollapsBurgerNav {
                height: 52px;
                display: flex;
                align-items: center;

                h6 {
                    padding: 19px;

                    a {
                        transition: .3s color;

                        &:hover {
                            color: $primary-blue;
                        }

                        text-decoration: none;
                        color: black;
                    }
                }
            }

            .accordion-button:not(.collapsed) {
                background-color: white;
            }

            div.accordion-item:first-of-type .accordion-button {

                border-top-left-radius: 20px !important;
                border-top-right-radius: 20px !important;
            }

            div.accordion-item:last-of-type .accordion-button {

                border-bottom-left-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
            }

            div.accordion-item:last-of-type {
                border-bottom-left-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
            }

            div.accordion-item.nonCollapsBurgerNav {
                border-radius: 0px !important;
            }

            div.accordion-item {
                border-top-left-radius: 20px !important;
                border-top-right-radius: 20px !important;

                border: none;

                h2.accordion-header {
                    button {
                        font-weight: 500;
                        transition: .3s color;

                        &:hover {
                            color: $primary-blue;

                        }
                    }
                }

                div.accordion-body {

                    ul {
                        list-style: none;

                        li {
                            a {
                                transition: .3s color;
                                text-decoration: none;
                                color: gray;

                                &:hover {

                                    color: $primary-blue;

                                }

                            }
                        }
                    }
                }


            }

        }
    }

}

//header BreakPoint Responsive start
@include breakPoint(996px) {
    .bubbles {
        display: none;
    }

    header {
        nav {
            display: none;
        }

        .loginFormButtons {
            display: none;
        }

        .burgerMenu {
            display: block;
        }

    }


}

//header BreakPoint Responsive end

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainSec {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: space-around;

        .mainDescriptionSec {
            display: flex;
            flex-direction: column;
            height: 60%;
            justify-content: space-around;

            .mainDescTitle {
                width: 90%;

                p {
                    font-family: $poppins-font;
                    font-weight: 700;
                    font-size: 40px;
                    margin-bottom: -2px;
                }

                .complex {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    width: 90%;

                }

                .fourth {
                    color: $primary-orange;
                }

            }

            .freeTrial {

                border: none;
                height: 53px;
                width: 200px;
                background-color: $primary-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: 500;
                transition: .4s background-color;

                &:hover {
                    background-color: $primary-orange;

                }
            }

        }

        .mainSecImage {
            height: 490px;
            width: 726px;

            img {
                border-radius: 30px;
                box-shadow: 0px 0px 20px -10px rgb(173, 173, 173);
            }
        }
    }

    //main section BreakPoint Responsive start
    @include breakPoint(996px) {
        .mainSec {
            flex-direction: column;

            .mainDescriptionSec {
                display: flex;
                flex-direction: column;
                align-items: center;

                .mainDescTitle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .complex {
                        width: 95%;
                    }

                    p {
                        font-size: 28px;
                    }
                }

                .freeTrial {}

                .mainDescription {
                    text-align: center;
                }

            }

            .mainSecImage {
                width: 100%;

                img {
                    width: 100%;
                }
            }

        }

    }

    //main section BreakPoint Responsive end

    //service section start
    .serviceWeProvide {
        height: 100vh;
        background-color: #f4f7fa;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .serviceDescription {
            display: inherit;
            flex-direction: column;
            align-items: center;
            height: 30%;
            justify-content: space-around;

            .mainTitleServ {
                border: 2px solid $primary-blue;
                border-radius: 20px;
                width: 200px;
                height: 35px;
                display: inherit;
                justify-content: center;
                align-items: center;

                h6 {
                    color: $primary-blue;
                    margin: 0;

                }
            }

            .title {
                width: 40%;

                h2 {
                    text-align: center;
                    font-weight: 700;
                    font-family: 'roboto';

                }

            }

            .descriptionServ {
                width: 80%;

                p {
                    text-align: center;
                    color: gray;
                }
            }

        }

        .cards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            height: 50%;

            .cardElements {
                width: 30%;
                height: 90%;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 20px -14px gray;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;

                .cardLogo {
                    width: 50px;
                    height: 50px;
                    border-radius: 13px;
                    display: inherit;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: white;
                        font-size: 20px;
                    }
                }

                .cardLogo.cardMix {
                    background-color: $primary-blue;
                    box-shadow: 0px 4px 20px -5px $primary-blue;
                }

                .cardLogo.cardHeart {
                    background-color: $primary-orange;
                    box-shadow: 0px 4px 20px -5px $primary-orange;

                }

                .cardLogo.cardFinger {
                    background-color: $primary-yellow;
                    box-shadow: 0px 4px 20px -5px $primary-yellow;

                }

                h3.cardTitle {
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                }

                p.cardDesc {
                    color: gray;
                    font-family: 'Roboto';
                    font-size: 16px;
                }

                a.learnMore {
                    text-decoration: none;
                    transition: .3s transform;
                    transform: translate(-1%, -1%);
                    font-size: 15px;
                    font-weight: 500;

                    &:hover {
                        transform: scale(1.1) translateX(5%);
                    }
                }

                a.learnMore.cardMix {
                    color: $primary-blue;
                }

                a.learnMore.cardHeart {
                    color: $primary-orange;
                }

                a.learnMore.cardFinger {
                    color: $primary-yellow;
                }


            }
        }





    }

    //service section end

    //service section responsive start

    @include breakPoint(996px) {
        .serviceWeProvide {
            height: 160vh;
            justify-content: space-evenly;

            .serviceDescription {

                .title {
                    width: 70%;
                }
            }

            .cards {
                flex-direction: column;
                justify-content: space-evenly;

                .cardElements {
                    width: 100%;
                    height: 40%;
                    margin-bottom: 20px;
                }
            }
        }

    }

    //service section responsive end

    //management section start
    .management {

        @include miniSectionDefault;

        .managementImage {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .managementDescriptionSec {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 60%;

            h6.mainTitleMan {
                color: $primary-blue;
                font-size: 15px;
            }

            h2.titleMan {
                font-weight: 700;
                font-size: 35px;
                font-family: 'roboto';

            }

            .descriptionMan {
                p {
                    color: gray;
                    font-family: 'roboto';
                }
            }

            .buttonsMan {
                width: 100%;
                display: flex;

                .buttonMan {
                    width: 50%;
                    display: inherit;

                    .logo {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        background-color: white;
                        display: inherit;
                        justify-content: center;
                        align-items: center;
                        margin-right: 20px;
                        box-shadow: 0px 0px 20px -12px gray;
                        transition: .3s;

                        i {
                            color: $primary-blue;
                            font-size: 20px;
                            transition: .3s;

                        }

                        &:hover {
                            background-color: $primary-blue;

                            i {
                                color: white;
                            }
                        }

                    }

                    .descButton {
                        width: 70%;

                        p {
                            font-family: 'roboto';
                            color: gray;
                        }
                    }


                }
            }

        }

    }

    //management section end

    //management section responsive start
    @include breakPoint(996px) {
        .management {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 110vh;

            .managementImage {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    width: 90%;
                }
            }

            .managementDescriptionSec {
                width: 100%;
                align-items: center;

                h2.titleMan {
                    text-align: center;
                }

                .descriptionMan {
                    width: 90%;

                    p {
                        text-align: center;
                    }
                }

                .buttonsMan {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;

                    .buttonMan {
                        width: 90%;
                        margin-bottom: 20px;
                    }
                }


            }
        }

    }

    //management section reponsive end

    //customization section start
    .customization {

        @include miniSectionDefault() {
            background-color: #151515;
            position: relative;
            z-index: 1;

        }

        .customizationDescriptionSec {
            position: relative;
            z-index: 2;
            width: 40%;
            display: inherit;
            flex-direction: column;
            justify-content: space-evenly;
            height: 60%;

            h6.mainTitleCus {
                color: $primary-blue;
                font-size: 15px;

            }

            h2.titleCus {
                font-weight: 700;
                font-size: 35px;
                color: white;
                font-family: 'roboto';

            }

            .descriptionCus {
                p {
                    color: white;
                    font-family: 'roboto';
                }
            }

            .becomefaster {
                width: 100%;
                display: flex;

                .logo {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: $primary-blue;
                    display: inherit;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    box-shadow: 0px 0px 25px -5px $primary-blue;
                    transition: .3s;

                    i {
                        color: white;
                        font-size: 23px;
                        transition: .3s;

                    }

                    &:hover {
                        background-color: white;
                        box-shadow: 0px 0px 25px -5px white;

                        i {

                            color: $primary-blue;
                        }
                    }
                }

                .logoDesc {
                    font-family: 'roboto';

                    h6 {
                        color: white;
                        font-weight: 400;

                    }

                    a {
                        display: inline-block;
                        color: $primary-blue;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            transform: scale(1.1) translateX(5%);
                        }
                    }

                }
            }
        }

        .custamizationtImage {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .backLights {
            position: absolute;
            width: 100%;
            overflow: hidden;
            height: 90vh;

            img {
                position: absolute;

                height: 100%;
                width: auto;
                z-index: -1;
            }

            img.blue {
                left: -12%;
                top: 10%;

            }

            img.red {
                right: 20%;
                top: 10%;
            }
        }







    }

    // customization section end

    // customization section responsive start

    @include breakPoint(996px) {
        .customization {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 110vh;

            .custamizationtImage {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    width: 90%;
                }
            }

            .customizationDescriptionSec {
                width: 100%;
                align-items: center;

                h2.titleCus {
                    width: 90%;
                    text-align: center;
                }

                .descriptionCus {
                    width: 90%;

                    p {
                        text-align: center;
                    }
                }

                .becomefaster {
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }

    // customization section responsive end

    //pricing section start
    .pricing {
        height: 120vh;
        background-color: #f4f7fa;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 50px;

        .pricingDesc {
            display: inherit;
            flex-direction: column;
            align-items: center;
            height: 22%;
            justify-content: space-around;

            .mainTitlePrice {
                border: 2px solid $primary-blue;
                border-radius: 20px;
                width: 130px;
                height: 35px;
                display: inherit;
                justify-content: center;
                align-items: center;

                h6 {
                    color: $primary-blue;
                    margin: 0;

                }

            }

            .title {
                width: 40%;

                h2 {
                    font-family: 'roboto';
                    text-align: center;
                    font-weight: 700;
                }
            }

            .descriptionPrice {
                width: 80%;

                p {
                    text-align: center;
                    color: gray;
                }
            }
        }

        .pricingCards {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 65%;

            .pricingCard {
                width: 30%;
                height: 90%;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 20px -14px gray;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 40px;
                align-items: center;

                .cardTitle {
                    border: 2px solid black;
                    border-radius: 20px;
                    width: 120px;
                    height: 35px;
                    display: inherit;
                    justify-content: center;
                    align-items: center;

                    h6 {
                        margin: 0;
                    }

                }

                .cardDesc {
                    width: 95%;

                    p {
                        color: gray;
                        text-align: center;
                        font-size: 13px;
                    }
                }

                .cardPrice {
                    height: 20%;

                    span.priceAll {
                        position: relative;
                        display: inline-block;

                        .currency {
                            display: inline-block;
                            position: absolute;
                            top: 8px;
                            left: -15px;
                            color: gray;
                        }

                        .value {
                            font-size: 40px;
                            font-weight: 600;
                        }

                        .month {
                            color: gray;
                            font-size: 14px;
                        }
                    }

                }

                .cardButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 65%;
                    border-radius: 10px;
                    transition: .3s;

                    .startFreeTrial {
                        color: white;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                .cardButton.blue {
                    background-color: $primary-blue;

                    &:hover {
                        background-color: $primary-orange;
                    }
                }

                .cardButton.orange {
                    background-color: $primary-orange;

                    &:hover {
                        background-color: $primary-blue;
                    }
                }

                .cardButton.yellow {
                    background-color: $primary-blue;

                    &:hover {
                        background-color: $primary-orange;
                    }
                }

                .cardExplain {
                    color: gray;
                    text-align: center;
                    font-size: 14px;
                }



            }

            .pricingCard.starterCard {
                .starterCardTitle {
                    border-color: $primary-blue;

                    h6 {
                        color: $primary-blue;
                    }
                }
            }

            .pricingCard.exclusiveCard {
                .exclusiveCardTitle {
                    border-color: $primary-orange;

                    h6 {
                        color: $primary-orange;
                    }
                }
            }

            .pricingCard.premiumCard {
                .premiumCardTitle {
                    border-color: $primary-blue;

                    h6 {
                        color: $primary-blue;
                    }
                }
            }

        }
    }

    //pricing section end

    //pricing section responsive start

    @include breakPoint(996px) {
        .pricing {
            padding: 10px;
            height: 230vh;
            justify-content: space-evenly;

            .pricingDesc {
                height: 20%;

                .title {
                    width: 70%;
                }
            }

            .pricingCards {
                width: 100%;
                height: 80%;
                flex-direction: column;

                .pricingCard {
                    width: 95%;
                    height: 100%;
                    margin-bottom: 20px;
                }
            }
        }

    }

    //pricing section responsive end

    //about section start 
    .about {
        height: 65vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px;

        .aboutDescriptionSec {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40%;
            justify-content: space-around;

            .mainTitleAbout {
                border: 2px solid $primary-blue;
                border-radius: 20px;
                width: 130px;
                height: 35px;
                display: inherit;
                justify-content: center;
                align-items: center;

                h6 {
                    color: $primary-blue;
                    margin: 0;
                }

            }

            .title {
                h2 {
                    text-align: center;
                    font-weight: 700;
                }

            }

            .descriptionAbout {
                width: 80%;

                p {
                    text-align: center;
                    color: gray;
                }
            }
        }

        .persentageSec {
            display: flex;
            justify-content: space-evenly;
            width: 75%;

            .pers {
                display: flex;
                align-items: center;


                position: relative;
                z-index: 2;

                .persentageMain {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;

                    .value {
                        display: flex;
                        align-items: center;

                        h2 {
                            font-weight: 700;
                            margin: 0;
                        }

                        span {
                            font-weight: 700;
                            font-size: 30px;
                        }
                    }

                    p {
                        position: relative;
                        z-index: 2;
                        color: gray;
                        font-size: 14px;
                    }
                }

                .backHalfCircle {
                    position: absolute;
                    z-index: 1;
                    top: -15px;
                    left: -20px;
                }
            }
        }
    }

    //about section end

    //about section responsive start

    @include breakPoint(996px) {
        .about {
            height: 100vh;

            .persentageSec {
                height: 50%;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    //about section responsive end


    //testimonial section start

    .customerReviews {

        height: 100vh;
        background-color: #f4f7fa;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px;

        .testimonialsDescription {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 30%;

            .mainTitleCustomer {
                border: 2px solid $primary-blue;
                border-radius: 20px;
                width: 200px;
                height: 35px;
                display: inherit;
                justify-content: center;
                align-items: center;

                h6 {
                    color: $primary-blue;
                    margin: 0;
                }


            }

            .title {
                width: 40%;

                h2 {
                    text-align: center;
                    font-weight: 700;
                    font-family: 'roboto';
                }
            }

            .descriptionCustomer {
                width: 90%;

                p {
                    text-align: center;
                    color: gray;
                }
            }

        }


        .testimonial-slider {
            margin: 0;

            .single-testimonial {
                position: relative;
                background-color: #fff;
                transition: all 0.4s ease;
                border-radius: 6px;
                overflow: hidden;
                padding: 70px 50px;

                .shape1 {
                    position: absolute;
                    left: 40px;
                    top: 0;
                }

                .shape2 {
                    position: absolute;
                    right: -20px;
                    bottom: -20px;
                }

                .inner-content {
                    position: relative;
                    z-index: 0;
                }

                .qote-icon {
                    position: absolute;
                    font-size: 70px;
                    top: 0;
                    color: #3333331a;
                    z-index: -1;
                    opacity: 0.2;
                    right: 0;
                }

                .text {
                    h4 {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 28px;
                        color: #151515;
                    }
                }

                .author {
                    position: relative;
                    padding-left: 70px;
                    margin-top: 40px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }

                    h4 {
                        font-size: 17px;
                        font-weight: 600;
                        color: #151515;

                        span {
                            display: block;
                            color: #3080E3;
                            margin-top: 4px;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .owl-dots {
                .owl-dot {
                    span {
                        display: inline-block;
                        height: 6px;
                        width: 14px;
                        background-color: #d0cccc;
                        border-radius: 5px;
                        border: none;
                        margin: 0px 5px;
                        transition: all 0.4s ease;
                    }
                }

                button.owl-dot.active {
                    span {
                        width: 25px;
                        background-color: #3080E3;
                    }
                }
            }
        }


    }

    //testimonial section end
    
    //blogs section start

    .blogs {
        height: 150vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 20px;

        .blogsDesc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 20%;

            .mainTitleBlogs {
                border: 2px solid $primary-blue;
                border-radius: 20px;
                width: 100px;
                height: 35px;
                display: inherit;
                justify-content: center;
                align-items: center;

                h6 {
                    color: $primary-blue;
                    margin: 0;
                }
            }

            .title {
                width: 40%;

                h2 {
                    text-align: center;
                    font-weight: 700;
                    font-family: 'roboto';
                }
            }

            .descriptionBlogs {
                width: 90%;

                p {
                    text-align: center;
                    color: gray;
                }
            }

        }

        .blogCards {
            width: 100%;

            height: 50%;

            ul.cards {
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                padding: 0;
                width: 100%;

                li.blogcards {
                    height: 90%;
                    width: 30%;
                    align-items: center;
                    display: inherit;
                    flex-direction: column;
                    padding: 15px;
                    border-radius: 20px;
                    box-shadow: 0px 0px 20px -12px gray;

                    .cardImage {
                        width: 100%;
                        height: 50%;
                        transition: .3s;
                        border-radius: 15px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            transform: scale(1.22);
                            border-radius: 15px;
                            transition: .3s;
                        }

                    }

                    &:hover {
                        .cardImage {
                            img {
                                transform: scale(1.3);
                            }
                        }
                    }

                    .cardDesc {

                        padding: 15px;
                        height: 55%;
                        display: inherit;
                        flex-direction: column;
                        justify-content: space-evenly;

                        small.cardCategory {
                            font-weight: 500;
                            font-size: 13px;
                            font-family: 'roboto';
                            color: $primary-blue;
                        }

                        h4 {
                            font-size: 18px;
                            font-family: 'roboto';
                            transition: .3s;
                            cursor: pointer;

                            &:hover {
                                color: $primary-blue;
                            }
                        }

                        p {
                            color: gray;
                            font-size: 14px;
                        }

                        a.readME {
                            text-decoration: none;
                            color: gray;
                            font-weight: 500;
                            font-size: 15px;
                            transition: .3s;

                            &:hover {
                                color: $primary-blue;
                                transform: translateX(10px) scale(1.05);

                            }
                        }
                    }

                }


            }
        }

        .backgroundGetStarted {
            width: 90%;
            height: 14%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 50px 0px 50px;
            background-color: $primary-blue;
            border-radius: 20px;
            position: relative;
            box-shadow: 0px 0px 20px -5px $primary-blue;

            img {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 1;
            }

            h3 {
                color: white;
                font-weight: 700;
                
            }

            .gettingStartedButton {

                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
                border-radius: 10px;
                width: 120px;
                height: 50px;
                cursor: pointer;
                position: relative;
                z-index: 2;

                a {
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 500;
                    color: black;
                }

                &:hover {
                    background-color: $primary-orange;

                    a {
                        color: white;
                    }

                }
            }

        }
    }

    //blogs section end

    //blogs section responsive start 

    @include breakPoint(996px) {
        .blogs {
            height: 250vh;
            padding: 0px 10px 0px 10px;
            justify-content: space-around;

            .blogCards {
                ul.cards {
                    flex-direction: column;

                    li.blogcards {
                        width: 100%;
                        margin-bottom: 20px;

                    }
                }
            }

            .blogsDesc {
                height: 10%;

                .title {
                    width: 80%;
                }
            }

            .backgroundGetStarted {
                height: 9%;
                flex-direction: column;
                z-index: 0;
                justify-content: center;

                img {
                    height: 30%;
                    z-index: 1;

                }

                h3 {
                    font-size: 18px;
                    text-align: center;
                }

                .gettingStartedButton {
                    position: relative;
                    z-index: 2;
                }
            }

        }
    }

    //blogs section responsive end




}

//footer start 
footer {
    display: flex;
    width: 100%;
    height: 45vh;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;

    .footerInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 25%;
        height: 70%;

        img.logo {
            height: 35px;

        }

        p.footerDesc {
            color: gray;
            font-size: 15px;
        }

        p.copyRight {
            color: gray;
            font-size: 15px;

            a {
                color: $primary-blue;
                text-decoration: none;
                transition: .3s;

                &:hover {

                    color: $primary-orange;
                }
            }
        }

    }

    .footerLists {
        height: 100%;

        ul {
            height: 65%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h5 {
                font-size: 18px;
                font-weight: 600;
            }

            div {
                display: flex;
                flex-direction: column;
                height: 80%;
                justify-content: space-evenly;

                li {
                    color: gray;
                    font-size: 15px;
                    font-family: 'roboto';
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        color: $primary-blue;
                    }
                }
            }
        }
    }

    .subscribe {
        width: 30%;
        height: 65%;

        form {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 5px;
            height: 80%;
            justify-content: space-between;
            width: 80%;

            .subscribeDescs {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 50%;

                h5 {
                    font-size: 18px;
                    font-weight: 600;

                }

                p {
                    color: gray;
                    font-size: 14px;
                    white-space: nowrap;
                }
            }

            label {
                position: relative;

                input {
                    width: 100%;
                    height: 60px;
                    border-radius: 10px;
                    border-color: rgb(226, 226, 226);
                    border-style: solid;
                    border-width: 1px;
                    padding-left: 20px;
                    transition: .3s;

                    &:focus-visible {
                        border-width: 1px !important;
                        border-color: $primary-blue !important;

                    }

                    &:focus {
                        border: none;
                        border-color: $primary-blue;

                    }

                    &:hover {
                        border-color: $primary-blue;
                    }
                }

                button {
                    position: absolute;
                    background-color: $primary-blue;
                    color: white;
                    height: 50px;
                    width: 50px;
                    right: 5px;
                    top: 5px;

                    &:hover {
                        background-color: $primary-orange;
                        color: white;
                        border-color: $primary-orange;
                    }

                    i {
                        font-size: 18px;
                    }
                }
            }

        }
    }
}

//footer end

//footer responsive start
@include breakPoint(996px) {
    footer {
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        align-items: center;
        height: 120vh;


        .footerInfo {
            width: 100%;
            align-items: center;

            p.footerDesc {
                text-align: center;
            }

            p.copyRight {
                text-align: center;
            }
        }

        .footerLists {
            height: 100%;

            ul {
                height: 75%;

                h5 {
                    text-align: center;
                    font-size: 19px;
                    margin-bottom: 30px;
                }

                padding: 0;

                div {
                    align-items: center;

                    li {
                        font-size: 18px;
                    }

                    height: 100%;
                    justify-content: space-between;
                }


            }
        }

        .subscribe {
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;

            form {
                align-items: center;
                width: 100%;

                .subscribeDescs {
                    align-items: center;
                    width: 100%;

                    h5 {
                        text-align: center;
                    }

                    p.subscribeDesc {
                        white-space: normal;
                        text-align: center;
                        width: 100%;

                    }

                }
                label{
                    width: 100%;
                    input{
                        width: 100%;
                    }
                }
            }
        }
    }
}

//footer responsive end